<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NTNU</title>
</head>

<body>
    {% block body %}

    <body class="body">
        <!-- <div class="container">
            <label for="sam">SAM</label>
            <input type="file" id="sam" name="filename">
            <label for="euklems">EUKLEMS</label>
            <input type="file" id="euklems" name="filename">
            <a href="/results/" download><button class='btn btn-default'>Download!</button></a>
        </div> -->
        <form action="http://localhost:5000/results/" method="POST" enctype="multipart/form-data">
            <label for="sam">SAM</label>
            <input type="file" id="sam" name="sam">
            <label for="euklems">EUKLEMS</label>
            <input type="file" id="euklems" name="euklems">
            <label for="euklems">Settings</label>
            <input type="file" id="settings" name="settings">
            <p><input type="submit" value="submit" /></p>
        </form>
    </body>
    {% endblock %}
</body>

</html>